@model List<Lead>


@if (Model.Any())
{
    foreach (var lead in Model)
    {
        <tr>
            <th scope="row">@lead.Id</th>
            <td>@lead.Nome</td>
            <td>@lead.Telefone</td>
            <td>@lead.Email</td>
            <td>@lead.CursoInteresse</td>
            <td>
                <a role="button" class="btn btn-outline-primary btn-sm"
                   asp-controller="Aluno"
                   asp-action="Create"
                   asp-route-LeadId="@lead.Id">
                    Matricular
                </a>
                <a role="button" class="btn btn-outline-warning btn-sm"
                   asp-controller="Leads"
                   asp-action="Edit"
                   asp-route-id="@lead.Id">Editar</a>

                <button class="btn btn-outline-danger btn-sm" onclick="openDeleteModal(@lead.Id)">Apagar
                </button>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="7" class="text-center">Nenhum lead encontrado</td>
    </tr>
}